Assets/Prefabs/* linguist-vendored
Assets/Scenes/* linguist-vendored
Assets/Sprites/* linguist-vendored
ProjectSettings/* linguist-vendored
SlimeChess_Data/* linguist-vendored
stylesheets/* linguist-vendored
